body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #e4f3e5;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 8px;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 400px;
}

.card:hover {
  box-shadow: 0 8px 16px #9a9;
}

header {
  background: linear-gradient(to right, #a8e6cf, #dcedc1);

  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 0;
}

h3 {
  color: #666;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

button {
  background-color: #a8e6cf;
  border: none;
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #dcedc1;
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.badge {
  background-color: #a8e6cf;
  color: #333;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.9rem;
  min-width: 4rem;
  margin: 0;
}
